development: &default
  webhook:
    # A callback URL on the client to notify of a condition being met on a certain link. The endpoint signature is as follows:
    # POST :callback_url { 
    #   link: original link for which condition was met,
    #   condition: the name of the condition that was verified,
    #   timestamp: the time at which the condition was verified
    # }
    # 
    # The HTTP header X-Watchbot-Signature is set to a hash signature of the post body. 
    # The :secret_token configuration is used to compute the signature.
    # Refer to https://developer.github.com/webhooks/securing/ [^] for implementation details
    callback_url: http://localhost:4567/payload
    secret_token: mysecrettoken
  schedule: [
    # Schedule of verifying conditions.
    # For each action, the conditions are verified every first :interval, until the time elapsed exceeds :to. 
    # At this point, the schedule moves to the next :interval, until the time elapsed exceeds the second :to, and so on.
    # If the last entry only contains :interval, the conditions will continue to be verified forever at that interval.
    { to: 172800, interval: '*/5 * * * *' }, # 2 days old - check every 5 minutes
    { to: 604800, interval: '0 * * * *' },   # 7 days old - check every hour
    { interval: '0 3 * * *' }                # More than 7 days old - check once a day
  ]
  conditions: [
    # Conditions to verify.
    # Each condition verification is applied to each link that matches :linkRegex.
    # :condition(:link) -> :boolean is a function that returns true when the condition applies, false when it doesn't apply.
    # If the condition applies and :removeIfApplies is true, then the link should be removed from the database.
    { 
      linkRegex: '^https?:\/\/(www\.)?(twitter|instagram)\.com\/',
      condition: check404,
      removeIfApplies: true
    },
    { 
      linkRegex: '^https?:\/\/docs\.google\.com\/',
      condition: check_google_spreadsheet_updated,
      removeIfApplies: false
    }
  ]
  settings:
    google_email:
    google_password:
test:
  <<: *default
production:
  <<: *default
